extends layout

block content
  section#content
    h2= text
      if hint
        p
          i Hint: #{hint}
      .controls
        if actionUrl
          p
            a(href= actionUrl)= actionText
        p
          a(href= nextCardUrl) Next Card
        